@model PersonelKayit.Models.User
@{
    ViewBag.Title = "Home";
}

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
<table style="text-align:center; margin-top:150px;" cellpadding="5">
    <tr><td></td><td>@ViewBag.LoginError</td></tr>
    <tr>
        <td>@Html.LabelFor(a => a.Name) </td>
        <td>@Html.TextBoxFor(a => a.Name, new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(a => a.Password)</td>
        <td>@Html.PasswordFor(a => a.Password, new { @class = "form-control" })</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="submit" value="Giriş" />
        </td>
    </tr>

    <tr>
        <td></td>
        <td>@Html.ActionLink("Üye Ol", "UserCreate", "Home")</td>
    </tr>


</table>
}


